.bracket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.bracket-view {
  width: 100%;
}

.bracket-view a {
  text-decoration: underline;
  color: inherit;
  font-size: 20px;
}

.knockout-bracket {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.knockout-bracket h2 {
  margin: 20px;
}

.knockout-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.quarter-finals,
.semi-finals,
.final {
  transform: translateX(30px);
}

.bracket-round {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.eight-finals .match-cards,
.quarter-finals .match-cards,
.semi-finals .match-cards,
.final .match-cards {
  transform: translateX(20px);
}

.semi-finals .match-cards {
  transform: translateX(50px);
}

.final .match-cards {
  transform: translateX(80px);
}

.match-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

.team-info {
  font-size: 18px;
  margin: 5px 0;
}

.match-result {
  font-size: 18px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .knockout-bracket {
    flex-direction: column;
  }
  .knockout-stage {
    margin-bottom: 20px;
  }
  .match-cards {
    width: 100%;
    margin-bottom: 20px;
  }
  .quarter-finals,
  .semi-finals,
  .final {
    transform: translateX(0);
  }
  .eight-finals .match-cards,
  .quarter-finals .match-cards,
  .semi-finals .match-cards,
  .final .match-cards {
    transform: translateX(0);
  }
  .eight-finals .line-to-next-round,
  .quarter-finals .line-to-next-round,
  .semi-finals .line-to-next-round,
  .final .line-to-next-round {
    right: 0;
  }
}
