.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-to-home-from-match {
  position: absolute; /* Positioning it absolutely */
  top: 150px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

.back-to-home-from-match:hover {
  text-decoration: underline;
}

.match-result {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.match-result a {
  text-decoration: none;
  color: inherit; 
}

.match-result a:hover {
  text-decoration: underline;
}

.score {
  font-size: 24px;
  font-weight: bold;
}

.records-link {
  margin: 20px 0; /* Adding some spacing */
}

.records-link a {
  font-size: 18px;
}

.records-link a:hover {
  text-decoration: underline;
}

.records-link a, /* Targeting links inside the .records-link class */
.match-result a {
  /* Targeting links inside the .match-result class */
  text-decoration: none;
  color: inherit; /* Keeps the default color */
}

.formations-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.team-formation {
  position: relative;
  width: 45%;
  height: 1100px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f0f0f0;
  background-image: url("/logos/FootballField.png"); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
}

.formation {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Player styles */
.player {
  position: absolute;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 14px;
  color: white;
  background-color: #007bff; /* Default color, will be overridden by specific player types */
}

/* Specific player types */
.player.GK {
  /* Goalkeeper */
  background-color: grey;
}

.player.DEF {
  /* Defender */
  background-color: blue;
}

.player.MID {
  /* Midfielder */
  background-color: yellow;
}

.player.FWD {
  /* Forward */
  background-color: red;
}

/* Example player positions */
.player.GK {
  /* Goalkeeper */
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.player.CB {
  /* Centre-back */
  top: 30%;
  left: 25%;
}

.player.RB {
  /* Right-back */
  top: 30%;
  left: 75%;
}

.player.LB {
  /* Left-back */
  top: 30%;
  left: 10%;
}

.player.CM {
  /* Central Midfielder */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player.ST {
  /* Striker */
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
